<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>Admin Panel</h1>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    aria-label="Account"
    class="account"
    (click)="admin_login()"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize="true" class="example-container">
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded fixed-sidenav' : 'fixed-sidenav'"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
      <a mat-list-item (click)="addProduct()">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <span *ngIf="!isCollapsed">Add Products</span>
        </span>
      </a>
      <a mat-list-item (click)="viewProducts()">
        <span class="entry">
          <mat-icon>grid_view</mat-icon>
          <span *ngIf="!isCollapsed">View Products</span>
        </span>
      </a>
      <a mat-list-item (click)="allOrders()">
        <span class="entry">
          <mat-icon>gavel</mat-icon>
          <span *ngIf="!isCollapsed">Orders</span>
        </span>
      </a>
      <a mat-list-item (click)="analytics()">
        <span class="entry">
          <mat-icon>line_axis</mat-icon>
          <span *ngIf="!isCollapsed">Orders</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1 class="dash">Dashboard</h1>
    <div class="container">
      <div class="users">
        <h1>Users: {{ usersCount }}</h1>
        <mat-icon class="person">person</mat-icon>
      </div>

      <div class="products">
        <h1>Products: {{ productsCount }}</h1>
        <mat-icon class="card_giftcard">card_giftcard</mat-icon>
      </div>
      <div class="orders">
        <h1>Orders: {{ ordersCount }}</h1>
        <mat-icon class="cart">shopping_cart</mat-icon>
      </div>
      <div class="sales">
        <h1>Total Sales: {{ salesTotal }}</h1>
        <mat-icon class="account_balance_wallet"
          >account_balance_wallet</mat-icon
        >
      </div>
    </div>

    <div class="recent">
      <div class="recent_orders">
        <h3>Recent Order</h3>
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Customer Name</th>
              <th>Order Date</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of recentOrders">
              <td>{{ order.order_id }}</td>
              <td>{{ order.customer_name }}</td>
              <td>{{ order.order_date }}</td>
              <td>₹ {{ order.total_amount }}</td>
            </tr>
          </tbody>
        </table>
        <button class="all_orders" (click)="allOrders()">See All</button>
      </div>
    </div>

    <div class="empty"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
